<% include partials/header %> 
<% include partials/sidebar %> 
			<div class="main-panel">
				<div class="content">
					<div class="container-fluid">
						<div class="row">
													
					
											<div class="col-md-3">
								<div class="card card-stats card-warning">
									<div class="card-body ">
										<div class="row">
											<div class="col-5">
												<div class="icon-big text-center">
													<i class="la la-users"></i>
												</div>
											</div>
											<div class="col-7 d-flex align-items-center">
												<div class="numbers">
													<p class="card-category">Visitors</p>
													<h4 class="card-title">1,294</h4>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
							<div class="col-md-3">
								<div class="card card-stats card-success">
									<div class="card-body ">
										<div class="row">
											<div class="col-5">
												<div class="icon-big text-center">
													<i class="la la-bar-chart"></i>
												</div>
											</div>
											<div class="col-7 d-flex align-items-center">
												<div class="numbers">
													<p class="card-category">Sales</p>
													<h4 class="card-title">$ 1,345</h4>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
							<div class="col-md-3">
								<div class="card card-stats card-danger">
									<div class="card-body">
										<div class="row">
											<div class="col-5">
												<div class="icon-big text-center">
													<i class="la la-newspaper-o"></i>
												</div>
											</div>
											<div class="col-7 d-flex align-items-center">
												<div class="numbers">
													<p class="card-category">Subscribers</p>
													<h4 class="card-title">1303</h4>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
							<div class="col-md-3">
								<div class="card card-stats card-primary">
									<div class="card-body ">
										<div class="row">
											<div class="col-5">
												<div class="icon-big text-center">
													<i class="la la-check-circle"></i>
												</div>
											</div>
											<div class="col-7 d-flex align-items-center">
												<div class="numbers">
													<p class="card-category">Order</p>
													<h4 class="card-title">576</h4>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
							</div>
						</div>
					</div>
					<footer class="footer">
						<div class="container-fluid">
							<nav class="pull-left">
								<ul class="nav">
									<li class="nav-item">
										<a class="nav-link" href="http://www.themekita.com">
											ThemeKita
										</a>
									</li>
									<li class="nav-item">
										<a class="nav-link" href="#">
											Help
										</a>
									</li>
									<li class="nav-item">
										<a class="nav-link" href="#">
											Licenses
										</a>
									</li>
								</ul>
							</nav>
							<div class="copyright ml-auto">
								2018, made with <i class="la la-heart heart text-danger"></i> by <a href="http://www.themekita.com">ThemeKita</a>
							</div>				
						</div>
					</footer>
				</div>
			</div>
		</div>
	</div>
	<!-- Modal -->
	<div class="modal fade" id="modalUpdate" tabindex="-1" role="dialog" aria-labelledby="modalUpdatePro" aria-hidden="true">
		<div class="modal-dialog modal-dialog-centered" role="document">
			<div class="modal-content">
				<div class="modal-header bg-primary">
					<h6 class="modal-title"><i class="la la-frown-o"></i> Under Development</h6>
					<button type="button" class="close" data-dismiss="modal" aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
				</div>
				<div class="modal-body text-center">									
					<p>Currently the pro version of the <b>Ready Dashboard</b> Bootstrap is in progress development</p>
					<p>
					<b>We'll let you know when it's done</b></p>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
				</div>
			</div>
		</div>
	</div>
</body>
<script src="../admin/assets/js/core/jquery.3.2.1.min.js"></script>
<script src="../admin//assets/js/plugin/jquery-ui-1.12.1.custom/jquery-ui.min.js"></script>
<script src="../admin//assets/js/core/popper.min.js"></script>
<script src="../admin/assets/js/core/bootstrap.min.js"></script>
<script src="../admin/assets/js/plugin/chartist/chartist.min.js"></script>
<!-- <script src="../admin/assets/js/plugin/chartist/plugin/chartist-plugin-tooltip.min.js"></script> -->
<script src="../admin/assets/js/plugin/bootstrap-notify/bootstrap-notify.min.js"></script>
<script src="../admin/assets/js/plugin/bootstrap-toggle/bootstrap-toggle.min.js"></script>
<script src="../admin/assets/js/plugin/jquery-mapael/jquery.mapael.min.js"></script>
<script src="../admin/assets/js/plugin/jquery-mapael/maps/world_countries.min.js"></script>
<script src="../admin/assets/js/plugin/chart-circle/circles.min.js"></script>
<script src="../admin/assets/js/plugin/jquery-scrollbar/jquery.scrollbar.min.js"></script>
<script src="../admin/assets/js/ready.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.14.2/highlight.min.js"></script>
<script src="../libs/quill.js"></script>
<script src="../libs/image-resize.min.js"></script>
<!-- <script src="../admin/assets/js/demo.js"></script> -->

<!-- <script>
  var quill = new Quill('#editor', {
    theme: 'snow'
  });
  const editor = document.getElementById('editor');
   function logHtmlContent() {
    console.log(quill.root.innerHTML);
    // console.log(editor.firstChild.innerHTML);
  }
</script> -->

<!-- <script>
  var quill = new Quill('#editor-container', {
    modules: {
      syntax: true,
      toolbar: '#toolbar-container',
       imageResize: {
          displaySize: true
        },
    },
    placeholder: 'Compose an epic...',
    theme: 'snow'
  });

  $(document).ready(function() {
  	  $("#form-article").on('submit',(function(e){
 	     let content_article =document.getElementsByName("content-article").value=quill.root.innerHTML;
  	  	 let data= new FormData(this);
  	  	 let cover_name = $('#cover_name')[0].files[0];
  	  	 // data.append('cover_name',cover_name)
  	  	 // data.append('content_article',content_article)
// console.log(cover_name);
                     $.ajax({
                     url: "/admin/insert-article",
                     method: "POST",
                     enctype: 'multipart/form-data',
                      contentType:false,
                      processData:false,
                      data :{cover_name: cover_name},
                     success:function(response){
                       console.log(response);
                            if(response == 'success'){                            
                               
                             }                                 // reload();
                          }
	                    }); 

  	  }))
  })

  	$('#displayNotif').on('click', function(){
		var placementFrom = "top";
		var placementAlign = "right";
		var state = "success";
		var style = "withicon";

		var content = {};
		content.icon ="la la-bell";
		content.message = 'Category berhasil ditambahkan';
		content.title = 'Success';
		// if (style == "withicon") {
		// 	content.icon = 'la la-bell';
		// } else {
		// 	content.icon = 'none';
		// }
		content.url = 'index.html';
		content.target = '_blank';

		$.notify(content,{
			type: state,
			placement: {
				from: placementFrom,
				align: placementAlign
			},
			time: 20,
		});
	});

</script> -->
</html>